/*
Author: Trenton Young
Date: 7 March 2024
 */

body {
    margin: 0;

    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: flex-start;
    align-items: center;
}

footer {
    position: fixed;
    bottom: min(400px, 25%);
    width: 100%;
}

footer span {
    display: flex;
    flex-direction: column;
    align-items: center;
}
